.wrapper {
  width: 86%;
  height: 360px;
  padding: 1.8rem;
  background: #f9f9f9;
  margin: 1rem auto;
  border-radius: 10px;
}

.title {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 1rem;
}

.controls {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-behavior: smooth;
  padding: 8px 12px;
  width: 99%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.left,
.right {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
}

.left {
  left: 0;
}
.right {
  right: 0;
}

.card {
  width: 24%;
  height: 265px;
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: #E9ECED 2px solid;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 132px;
  object-fit: cover;
  border-radius: 6px;
  padding: 0.1rem;
  border: #E9ECED 1px solid;
  background-color: #F0F0F0;
}

.name, .category {
  font-size: 13px;
  font-weight: 550;
  margin: 0.5rem 0;
  color: #000000;
}

.moq{
  font-size: 9px;
  font-weight: 400;
  color: #000000;
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shopInfo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: 0.5rem;
  font-size: 11px;
}

.icon {
  border-radius: 50%;
  padding: 0.1rem;
  background-color: #3BEBF6;
  color: white;
}

.enquiry {
  margin-top: 0.5rem;
  font-size: 9px;
  background-color: #6C63FF;
  padding: 0.2rem;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
