.middleContainer {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  height: 100%;
}

.leftColumn {
  flex: 2;
}

.fullImage {
  border-radius: 6px;
  width: 100%;
  height: 99%;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.imageOne {
  width: 100%;
  height: 47%;
}
.imageTwo {
  width: 100%;
  height: 47%;
}

.halfImage {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.imageOne, .imageTwo {
  position: relative;
}

.overlayText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 6rem 2rem 2rem;
  color: #000000;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  /* Semi-transparent dark overlay */
}

.link {
  border: #000000 1px solid;
  border-radius: 6px;
  padding: 0.5rem 0.8rem;
  color: #265C81;
  font-weight: 400;
}

.bold {
  font-weight: 800;
}