.servicesContainer {
  width: 100%;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.title {
  font-size: 17px;
  font-weight: 550;
  color: #000000;
  text-decoration: underline;
}

.servicesColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0rem;
  width: 100%;
}

.serviceCard {
  width: 24%;
  height: 94px;
  display: grid;
  grid-template-columns: 117px 1fr;
  align-items: center ;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.serviceCard:hover {
  background: whitesmoke;
}

.icon {
  width: 92px;
  height: 90px;
  margin: 0.8rem 0 0 1.1rem;
}

.textGroup {
  flex: 1;
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
  margin: 0.6rem 0 0.6rem 0.6rem;
  padding: 0 0 0.9rem 0.4rem;
}

.serviceTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000000;
}

.learnMore {
  display: flex ;
  align-items: center;
  gap: 0.3rem;
  font-size: 15px;
  color: #F88216;
  text-decoration: none;
}

.learnMore:hover {
  text-decoration: underline;
}